@media only screen and (max-width: 800px) {
    .bottomFangs{
        display: block; 
    }
    li{
        font-size: 45px;
    }
   .logo{
        margin-left: -10px;
   }
   .logo b{
        font-size: 60px;
    }
    .logo{
        margin-top: -10px;
    }


    .column2flex{
        width:90%;
        display:grid;
        grid-template-columns: 100%;
        position: relative;
        z-index: 10001;
    }
    .column2flex_page{
        display:grid;
        grid-template-columns: 100%;
        position: relative;
        z-index: 10001;
    }
    .column2flexinv{
        display:grid;
        grid-template-columns: 100%;
        position: relative;
        z-index: 10001;
    }
    .columnText{
        margin-top: 1.5rem !important;
        width:80%;
        margin:auto;
        font-size: 1.2rem;
    }
    .triangle{
        display:block;
    }
    .triangle div{
        margin-bottom: 3rem;
    }
    
    #herotext{
        display: relative;
        bottom:3rem;
    }
    .columnList li h4{
        font-size: 23px;
    }
    .row0{
        grid-row: 0;
    }
    .row1{
        grid-row: 1;
        margin-bottom:1.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .bottomFangs{
        display: block; 
    }
    #herotitle{
        font-size: 38px;
    }
    .logo{
        margin-left: -10px;
       }
    .logo b{
        font-size: 42px;
        
    }
}