*{
    margin:0;
    padding:0;
}

#bdy{
    background-image: url("./../img/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fangs{
    position:fixed;
    left:0;
    z-index: 100000000;
    width:100%;
    /*display: none; /*DELETE ME*/
}

.topFangs{
    top:0;
}

.bottomFangs{
    bottom:0;
    display:none;
}

.vhcontainer{
    width:100% !important;
    display:block;
    height:100vh !important;
    margin:0 !important;
}

.myFlex{
    display: flex;
    flex-direction: row;
}

.centerFlex{
    justify-content: center;
    align-items: center;
}

#herotext{
    text-align: center;
    position: relative;
    bottom: 6rem;
}

.extraBold{
    font-weight: 700;
}